<div class="row">
    <div class="col">
        <h1 class="text-center">Pokémon</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col">

        <button class="btn btn-warning text-light m-3" routerLinkActive="active" routerLink="/">Pokemon List</button>
        <button class="btn btn-warning text-light m-3" routerLinkActive="active" routerLink="/pokemon">Pokemon </button>
        <button class="btn btn-warning text-light m-3" routerLinkActive="active" routerLink="about">About</button>
        <button class="btn btn-warning text-light m-3" routerLinkActive="active" routerLink="juego">Juego</button>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>