<div class="pokemon-container">

    <img *ngIf="!showPokemon" [src]="img" class="hidden-pokemon" alt="pokemon">

    <img *ngIf="showPokemon" [src]="img" class="fade-in" alt="pokemon">

</div>


<div class="options-container mt-5">

    <ul>
        <li class="btn-primary" *ngFor="let item of pokeOpt" (click)="checkAnswer(item)">{{item | titlecase}}</li>


    </ul>




</div>

<div *ngIf="showAnswer">
    <h2 class="fade-in">{{ message }}</h2>
    <button (click)="newGame()" class="btn btn-warning">Volver a jugar</button>
</div>